---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom animations
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }

    30% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.slide-up {
    animation: 1s ease-out 0s 1 slide-up;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}